/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

/* BODY START*/

/* Have space outside container elements */
.container {
  padding-top: 5vh;
  padding-bottom:5vh;
}

/* NAV START */

nav {
  width: 100vw;
  position: absolute;
  top:0;
  left:0;
  padding: 0 3vw;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.nav-item{
  background-color: #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
}

.nav-item a {
  color: #000;
  text-decoration: none;
}
/* Navigation First */

/* Navigation Middle */

/* Navigation Right */
.lets-talk {
  border-radius: 4px;
}

.menu-button {
  margin-left: auto;
}

.nav-item:nth-child(3) a{
  margin-right: 2.88462vw;
}

/* NAV END */

/* HEADER START */

header{
  height: 80vh;
  font-size: 6.59vw;
  line-height: 96%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
}

