/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none; 
  /* Remove the bullets and set the position to outside */
}

a {
  text-decoration: none;
}


a:hover,
a:link,
a:visited,
a:active {
  color: inherit; 
  /* Inherit the color from the parent element instead of default blue*/
}
/* BODY START*/

/* Have space outside container elements */
.container {
  padding-top: 1.75vh;
  padding-bottom:1.75vh;
  
}

.wrapper {
  padding: 1.75vh 3vw;
  max-height: 100%;
}
/* NAV START */

nav {
  width: 100vw;
  position: fixed;
  top:0;
  left:0;
  padding: 0 3vw;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.nav-item{
  background-color: #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
}

.nav-item a {
  color: #000;
  text-decoration: none;
}
/* Navigation First */

/* Navigation Middle */

/* Navigation Right */
.lets-talk {
  border-radius: 4px;
}

.menu-button {
  margin-left: auto;
}

.nav-item:nth-child(3) a{
  margin-right: 2.88462vw;
}
/* HEADER START */

header{
  height: 100vh;
  font-size: 6.59vw;
  line-height: 96%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 1s;
}

.fade-in-text {
  /* Hide the element by default */
  opacity: 1;
  /* Set the starting position at the bottom of the screen */
  transform: translateY(100%);
   /* Animate the element over a duration of 1 second */
   animation: fade-in-text 1s;
  /* Run the animation only once */
  animation-iteration-count: 1;
  /* Keep the element in its final state after the animation is finished */
  animation-fill-mode: forwards;
}

@keyframes fade-in-text {
  0% {
    /* At the start of the animation, set the element's opacity to 0 */
    opacity: 0;
  }
  100% {
    /* At the end of the animation, set the element's opacity to 1 and its position to its default value */
    opacity: 1;
    transform: translateY(0);
  }
}
/* HOME INTRO MEDIA */

.home-intro-media{
  height: 100vh;
  width: 94vw;
  margin: 0 3vw;
  background-color: #000;
}

/*
.home-intro-video{

}
*/
/* HOME SHOWREEL */

.home-showreel{
  height: 75vh;
  background-color: gray;
  font-size: 2.2vw;
  line-height: 120%;
  font-weight: 300;
}

.home-showreel-content{
  width: 65vw;
}

/* HOME SERVICES */

.home-services{
  height: 200vh;
}

.home-services-body{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.home-services-header{
  grid-column: 1;
  font-size: 3rem;
}

.home-services-content{
  grid-column: 2;
  
}

.services {
  padding: 5vh 5vw 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:repeat(4, 1fr);
  border-top: 5px solid red;
  border-bottom: 5px solid red;
}

.home-service-title {
  grid-column: 1;
  font-size: 2rem;
}

.home-service-description {
  grid-column: 1;
  font-size: 1rem;
}
/* CLIENTS */

.clients{
  height: 80vh;
}

.client-body{
  display: grid;
  grid-template-rows:repeat(4, 1fr);
  height: 100vh;

}

.client-list{
  height: 10vh;
  display: flex;
  font-size: 7rem;
  transition: all 2s;
  flex-wrap: wrap;
}

/* SLIDER */

.slider-horizontal-line-top{
  height: 1px; width: 100%; background-color: #4642426e;
}

#line-container {
  visibility: hidden;
}

#line-container.visible {
  visibility: visible;
  animation: drawLine 1s linear;
}

@keyframes drawLine {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}/*animate the width of the line as you scroll*/

/* OFFER */

.offer-title{
  letter-spacing: -.01em;
  font-weight: 300;
  line-height: 96%;
  position:relative;
  display: inline-flex;
  font-size: 9.706959707vw;
  text-decoration-line:none ;
  text-decoration: none;
}

.talk-arrow {
  transition: 0.7s; /* Add a transition to smoothly animate the movement */
  position: absolute; /* Make the .talk-arrow element absolute so it can be positioned relative to the .offer-title element */
  top: 0%; /* Center the .talk-arrow element vertically within the .offer-title element */
  left: 120%; /* Position the .talk-arrow element at the left edge of the .offer-title element */
  transform: translateX(-100%); /* Move the .talk-arrow element off the screen to the left */
}

.offer-title:hover .talk-arrow {
  transform: translateX(0); /* When the mouse hovers over the .offer-title element, move the .talk-arrow element back onto the screen */
}
/* FOOTER */

footer .wrapper{
  padding-top: 9.375vh;
}

footer a{
 text-transform: uppercase; 
 text-decoration-line:none ;
 text-decoration: none; 
}

.footer-top{
  display: flex;
  align-items: flex-end;
  margin-bottom: 3.1197916667vw;
}

.footer-top ul:nth-of-type(1){
  margin-right:4.1614583333vw;
}

